In [1]:
import pandas as pd
import numpy as np

# Creating a data frame

In [7]:
#when writing a data frame from scratch pandas will take data in the form of a dictionary

data ={'ones':np.ones(10),
       'zeros':np.zeros(10)
}

#making a data frame from scratch
#start with any data or colum names that you want to input
data_frame = pd.DataFrame(data,columns=['ones','zeros'])

print(data_frame)

   ones  zeros
0   1.0    0.0
1   1.0    0.0
2   1.0    0.0
3   1.0    0.0
4   1.0    0.0
5   1.0    0.0
6   1.0    0.0
7   1.0    0.0
8   1.0    0.0
9   1.0    0.0

In [8]:
#to add additional colums afterwards define them as follows:
#simply define your new colum anme and assign data to it

data_frame['new_colum']=np.ones(10)+1

print (data_frame)

   ones  zeros  new_colum
0   1.0    0.0        2.0
1   1.0    0.0        2.0
2   1.0    0.0        2.0
3   1.0    0.0        2.0
4   1.0    0.0        2.0
5   1.0    0.0        2.0
6   1.0    0.0        2.0
7   1.0    0.0        2.0
8   1.0    0.0        2.0
9   1.0    0.0        2.0

In [9]:
#creating a pd.DataFrame from lists

#your lists of data
fruit= ('Apple','Banana','Pineapple')
shape=('round','long','spikey')



#define keys
list_keys=('Fruit','Shape')
#create master list of data
list_data=[fruit,shape]
#zip data with coresponding keys
zipped_data = list(zip(list_keys,list_data))
#make into a dictionary
df_input_data = dict(zipped_data)

#read in as data frame
df_fruit = pd.DataFrame(df_input_data)

print(df_fruit)

       Fruit   Shape
0      Apple   round
1     Banana    long
2  Pineapple  spikey

In [12]:
#adding a new colum with nans

df_fruit['number']=[1,5,np.nan]

#print(df_fruit)

#adding a new row of 'oranges'
fruit2={'Fruit':['orange','Kiwi','Grapes'],
       'Shape':['round',np.nan,'roundish'],
       'number':[1,np.nan,100.5]}
df_fruit2=pd.DataFrame(fruit2,columns=(['Fruit','Shape','number']))
print df_fruit2

something_else=df_fruit.append(df_fruit2, ignore_index=True)

#when appending one df into another there is some truble with how to access the merged frame
# in this case the command df_fruit.ix[3] will not work!!
print something_else

    Fruit     Shape  number
0  orange     round     1.0
1    Kiwi       NaN     NaN
2  Grapes  roundish   100.5
       Fruit     Shape  number
0      Apple     round     1.0
1     Banana      long     5.0
2  Pineapple    spikey     NaN
3     orange     round     1.0
4       Kiwi       NaN     NaN
5     Grapes  roundish   100.5

# Reading and writing files

If you have an exsisting file or want to write our table into a file you can easily do this with pandas

# pandas file types

pandas reads a wide variety of file types (csv,txt and alsp pickled files). 
It is even possible to execute sql queries! (not showing that today)

It does NOT read fits files! 

To read / write data define what type you want (i.e pd.read_XYZ)

In [13]:
#reading in the data file

filename='cereal.csv'
df=pd.read_csv(filename)

#other read functions include
    #pd.read_table
    #pd.read_text

Other options for the various read methods include what deliminators to use.
These can be defined with 'sep =' when reading in the file.
                ','-comma
                ' '- whitespace
                '\t'-tap
For excell files/workbooks you can define the sheet_name that you want to read in  
If you dont want the total file you can define the number of rows to read in
Also define whether or not you are reading in the header (header=)or rename the colums 
Excluding the header means you colums will not be named!!

# retriving data frame information

a full list / cheat sheet regarding pandas is availible with this material!

In [27]:
#basic info
#comment and uncomment to have a look at the various methods



df.info() # basic information regarding your colums and number of objects in each column (will flag nans)

#df.count() # number coun in each colum with theyr respective keys

#df.shape # shape of your data frame (as usual)

#df.columns # names of your columns

#df.index # unique index list

#df.keys() #list of your keys to access column data

#df.describe() # returns basic info for each column (count,unique etc.)

#df.idxmin() #minimum or maximim index value (doens't work with example data set)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 16 columns):
name        77 non-null object
mfr         77 non-null object
type        77 non-null object
calories    77 non-null int64
protein     77 non-null int64
fat         77 non-null int64
sodium      77 non-null int64
fiber       77 non-null float64
carbo       77 non-null float64
sugars      77 non-null int64
potass      77 non-null int64
vitamins    77 non-null int64
shelf       77 non-null int64
weight      77 non-null float64
cups        77 non-null float64
rating      77 non-null float64
dtypes: float64(5), int64(8), object(3)
memory usage: 9.7+ KB

# Selecting

In [20]:
#selecting rows

#by label i.e the index number (unique identifier assosiated with a dataentry)
print(df.ix[1])

#by position
print (df.iloc[1])

#slicing
print (df[76:])

#selecting colums

#by keys
print (df['name'])

# or select in both rows and colums

print (df.ix[1,'name'])

name        100% Natural Bran
mfr                         Q
type                        C
calories                  120
protein                     3
fat                         5
sodium                     15
fiber                       2
carbo                       8
sugars                      8
potass                    135
vitamins                    0
shelf                       3
weight                      1
cups                        1
rating                33.9837
Name: 1, dtype: object
                   name mfr type  calories  protein  fat  sodium  fiber  \
76  Wheaties Honey Gold   G    C       110        2    1     200    1.0

    carbo  sugars  potass  vitamins  shelf  weight  cups     rating
76   16.0       8      60        25      1     1.0  0.75  36.187559
0                                  100% Bran
1                          100% Natural Bran
2                                   All-Bran
3                  All-Bran with Extra Fiber
4                             Almond Delight
5                    Apple Cinnamon Cheerios
6                                Apple Jacks
7                                    Basic 4
8                                  Bran Chex
9                                Bran Flakes
10                              Cap'n'Crunch
11                                  Cheerios
12                     Cinnamon Toast Crunch
13                                  Clusters
14                               Cocoa Puffs
15                                 Corn Chex
16                               Corn Flakes
17                                 Corn Pops
18                             Count Chocula
19                        Cracklin' Oat Bran
20                    Cream of Wheat (Quick)
21                                   Crispix
22                    Crispy Wheat & Raisins
23                               Double Chex
24                               Froot Loops
25                            Frosted Flakes
26                       Frosted Mini-Wheats
27    Fruit & Fibre Dates; Walnuts; and Oats
28                             Fruitful Bran
29                            Fruity Pebbles
                       ...
47                      Multi-Grain Cheerios
48                          Nut&Honey Crunch
49                 Nutri-Grain Almond-Raisin
50                         Nutri-grain Wheat
51                      Oatmeal Raisin Crisp
52                     Post Nat. Raisin Bran
53                                Product 19
54                               Puffed Rice
55                              Puffed Wheat
56                        Quaker Oat Squares
57                            Quaker Oatmeal
58                               Raisin Bran
59                           Raisin Nut Bran
60                            Raisin Squares
61                                 Rice Chex
62                             Rice Krispies
63                            Shredded Wheat
64                    Shredded Wheat 'n'Bran
65                 Shredded Wheat spoon size
66                                    Smacks
67                                 Special K
68                   Strawberry Fruit Wheats
69                         Total Corn Flakes
70                         Total Raisin Bran
71                         Total Whole Grain
72                                   Triples
73                                      Trix
74                                Wheat Chex
75                                  Wheaties
76                       Wheaties Honey Gold
Name: name, dtype: object
100% Natural Bran

In [23]:
# for a brief look at some of your data call head or tail (also works well if previously you sorted your data frame!)

#will return you the top 5 elements in your data frame
print (df['cups'].head())

#will return the last 5 elements in your data frame
print (df['cups'].tail())

# an example of sorting  and using the tail method
print df.sort(columns=['cups','sugars']).head()

# if you want to access sorted data say the fourth entry in you r sorted table use iloc not ix!!!
print df.sort(columns=['cups','sugars']).iloc[[3]]

0    0.33
1    1.00
2    0.33
3    0.50
4    0.75
Name: cups, dtype: float64
72    0.75
73    1.00
74    0.67
75    1.00
76    0.75
Name: cups, dtype: float64
                         name mfr type  calories  protein  fat  sodium  fiber  \
33                 Grape-Nuts   P    C       110        3    0     170    3.0
34         Great Grains Pecan   P    C       120        3    3      75    3.0
2                    All-Bran   K    C        70        4    1     260    9.0
0                   100% Bran   N    C        70        4    1     130   10.0
3   All-Bran with Extra Fiber   K    C        50        4    0     140   14.0

    carbo  sugars  potass  vitamins  shelf  weight  cups     rating
33   17.0       3      90        25      3     1.0  0.25  53.371007
34   13.0       4     100        25      3     1.0  0.33  45.811716
2     7.0       5     320        25      3     1.0  0.33  59.425505
0     5.0       6     280        25      3     1.0  0.33  68.402973
3     8.0       0     330        25      3     1.0  0.50  93.704912
        name mfr type  calories  protein  fat  sodium  fiber  carbo  sugars  \
0  100% Bran   N    C        70        4    1     130   10.0    5.0       6

   potass  vitamins  shelf  weight  cups     rating
0     280        25      3     1.0  0.33  68.402973

/anaconda/envs/astroconda/lib/python2.7/site-packages/ipykernel/__main__.py:10: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
/anaconda/envs/astroconda/lib/python2.7/site-packages/ipykernel/__main__.py:13: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

# Applying functions

In [28]:
# one way to write a function to count he lenght of the name of each cereal
def count_string(data):
    lenght =[]
    for i in data:
        lenght.append(len(i))
    return lenght

name_lenght=count_string(df['name'])


#alternative much shorter version !!
f = lambda x: len(x)
df['name'].apply(f)

#if you wanted to apply his not only to the name version but you wanted to know the length of any object in your data frame :

#df.applymap(f)

0      9
1     17
2      8
3     25
4     14
5     23
6     11
7      7
8      9
9     11
10    12
11     8
12    21
13     8
14    11
15     9
16    11
17     9
18    13
19    18
20    22
21     7
22    22
23    11
24    11
25    14
26    19
27    38
28    13
29    14
      ..
47    20
48    16
49    25
50    17
51    20
52    21
53    10
54    11
55    12
56    18
57    14
58    11
59    15
60    14
61     9
62    13
63    14
64    22
65    25
66     6
67     9
68    23
69    17
70    17
71    17
72     7
73     4
74    10
75     8
76    19
Name: name, dtype: int64

# removing nans and replacing values

In [50]:
#at this stage you can try using any of the other kaggle datasets in the folder to have a play around
#just make sure you adjust all the column names accordingly!

filename='cereal2.csv'

df=pd.read_csv(filename, nrows=50, usecols=['name','sugars','rating'])

#if you skip rows and do not define a set of colum names it will assign the values it finds in the first row...
#other method for this specific example is to use df.keys()[x] to determine the relevant names
df_extra_rows=pd.read_csv(filename,skiprows=51,usecols=[0,9,15], names=['name','sugars','rating'])

#check that we didn't download a row twice

print(df.ix[49],df_extra_rows.ix[0]) #using an index of -1 won't work

df_columns=pd.read_csv(filename,usecols=[1,11])

(name      Nutri-Grain Almond-Raisin
sugars                            7
rating                      40.6923
Name: 49, dtype: object, name      Nutri-grain Wheat
sugars                    2
rating              59.6428
Name: 0, dtype: object)

In [56]:
# find out where there are nan's
# returns you how many null objects
#df.info()

# THIS WILL NOT WORK!! as np.nan==np.nan will return False!!!
#df['sugars']==np.nan

#However this will!! to filter out nans use the np.isnan function
#df['sugars'].apply(np.isnan)

#this way you can find the idex of each nan value 
#np.where(df['sugars'].apply(np.isnan))

#if you know the location of the nan use df.loc[x]
# df['sugars'].ix[np.where(df['sugars'].apply(np.isnan))]=(1,1,1,1,1)
df[(df['sugars'].isnull()) & (df.rating > 50)]
#alternatively use the pd.fillna function
#just select what filler you want for you nan's

# df.fillna(('nothing to see here'))

                 name  sugars     rating
32  Grape Nuts Flakes     NaN  52.076897

# merging data frames

a number of data frames have been created for you above. Using the merge and concat function in pandas try stitching them back together.
(start with

In [40]:
# use the merge function on the various data frames above

help(pd.merge)

#df_merged=

Help on function merge in module pandas.tools.merge:

merge(left, right, how='inner', on=None, left_on=None, right_on=None, left_index=False, right_index=False, sort=False, suffixes=('_x', '_y'), copy=True, indicator=False)
    Merge DataFrame objects by performing a database-style join operation by
    columns or indexes.

    If joining columns on columns, the DataFrame indexes *will be
    ignored*. Otherwise if joining indexes on indexes or indexes on a column or
    columns, the index will be passed on.

    Parameters
    ----------
    left : DataFrame
    right : DataFrame
    how : {'left', 'right', 'outer', 'inner'}, default 'inner'
        * left: use only keys from left frame (SQL: left outer join)
        * right: use only keys from right frame (SQL: right outer join)
        * outer: use union of keys from both frames (SQL: full outer join)
        * inner: use intersection of keys from both frames (SQL: inner join)
    on : label or list
        Field names to join on. Must be found in both DataFrames. If on is
        None and not merging on indexes, then it merges on the intersection of
        the columns by default.
    left_on : label or list, or array-like
        Field names to join on in left DataFrame. Can be a vector or list of
        vectors of the length of the DataFrame to use a particular vector as
        the join key instead of columns
    right_on : label or list, or array-like
        Field names to join on in right DataFrame or vector/list of vectors per
        left_on docs
    left_index : boolean, default False
        Use the index from the left DataFrame as the join key(s). If it is a
        MultiIndex, the number of keys in the other DataFrame (either the index
        or a number of columns) must match the number of levels
    right_index : boolean, default False
        Use the index from the right DataFrame as the join key. Same caveats as
        left_index
    sort : boolean, default False
        Sort the join keys lexicographically in the result DataFrame
    suffixes : 2-length sequence (tuple, list, ...)
        Suffix to apply to overlapping column names in the left and right
        side, respectively
    copy : boolean, default True
        If False, do not copy data unnecessarily
    indicator : boolean or string, default False
        If True, adds a column to output DataFrame called "_merge" with
        information on the source of each row.
        If string, column with information on source of each row will be added to
        output DataFrame, and column will be named value of string.
        Information column is Categorical-type and takes on a value of "left_only"
        for observations whose merge key only appears in 'left' DataFrame,
        "right_only" for observations whose merge key only appears in 'right'
        DataFrame, and "both" if the observation's merge key is found in both.

        .. versionadded:: 0.17.0

    Examples
    --------

    >>> A              >>> B
        lkey value         rkey value
    0   foo  1         0   foo  5
    1   bar  2         1   bar  6
    2   baz  3         2   qux  7
    3   foo  4         3   bar  8

    >>> A.merge(B, left_on='lkey', right_on='rkey', how='outer')
       lkey  value_x  rkey  value_y
    0  foo   1        foo   5
    1  foo   4        foo   5
    2  bar   2        bar   6
    3  bar   2        bar   8
    4  baz   3        NaN   NaN
    5  NaN   NaN      qux   7

    Returns
    -------
    merged : DataFrame
        The output type will the be same as 'left', if it is a subclass
        of DataFrame.

In [41]:
# use the merge function on the various data frames above

help(pd.concat)

#df_concat=

Help on function concat in module pandas.tools.merge:

concat(objs, axis=0, join='outer', join_axes=None, ignore_index=False, keys=None, levels=None, names=None, verify_integrity=False, copy=True)
    Concatenate pandas objects along a particular axis with optional set logic
    along the other axes. Can also add a layer of hierarchical indexing on the
    concatenation axis, which may be useful if the labels are the same (or
    overlapping) on the passed axis number

    Parameters
    ----------
    objs : a sequence or mapping of Series, DataFrame, or Panel objects
        If a dict is passed, the sorted keys will be used as the `keys`
        argument, unless it is passed, in which case the values will be
        selected (see below). Any None objects will be dropped silently unless
        they are all None in which case a ValueError will be raised
    axis : {0, 1, ...}, default 0
        The axis to concatenate along
    join : {'inner', 'outer'}, default 'outer'
        How to handle indexes on other axis(es)
    join_axes : list of Index objects
        Specific indexes to use for the other n - 1 axes instead of performing
        inner/outer set logic
    verify_integrity : boolean, default False
        Check whether the new concatenated axis contains duplicates. This can
        be very expensive relative to the actual data concatenation
    keys : sequence, default None
        If multiple levels passed, should contain tuples. Construct
        hierarchical index using the passed keys as the outermost level
    levels : list of sequences, default None
        Specific levels (unique values) to use for constructing a
        MultiIndex. Otherwise they will be inferred from the keys
    names : list, default None
        Names for the levels in the resulting hierarchical index
    ignore_index : boolean, default False
        If True, do not use the index values along the concatenation axis. The
        resulting axis will be labeled 0, ..., n - 1. This is useful if you are
        concatenating objects where the concatenation axis does not have
        meaningful indexing information. Note the index values on the other
        axes are still respected in the join.
    copy : boolean, default True
        If False, do not copy data unnecessarily

    Notes
    -----
    The keys, levels, and names arguments are all optional

    Returns
    -------
    concatenated : type of objects

In [42]:
# making a new colum using the apply function
df['name_length']=df['name'].apply(f)
df.keys()
#overwriting colums
df['name_length']=df['name_length']+1

# saving files

In [43]:
#similar to reading in files you can write into all file formats using the pd.to_xyz command
#pandas can even write to latex files !!!!!!!

help(pd.DataFrame.to_csv)

df.to_csv('merged_csv', sep='\t')

Help on method to_csv in module pandas.core.frame:

to_csv(self, path_or_buf=None, sep=',', na_rep='', float_format=None, columns=None, header=True, index=True, index_label=None, mode='w', encoding=None, compression=None, quoting=None, quotechar='"', line_terminator='\n', chunksize=None, tupleize_cols=False, date_format=None, doublequote=True, escapechar=None, decimal='.', **kwds) unbound pandas.core.frame.DataFrame method
    Write DataFrame to a comma-separated values (csv) file

    Parameters
    ----------
    path_or_buf : string or file handle, default None
        File path or object, if None is provided the result is returned as
        a string.
    sep : character, default ','
        Field delimiter for the output file.
    na_rep : string, default ''
        Missing data representation
    float_format : string, default None
        Format string for floating point numbers
    columns : sequence, optional
        Columns to write
    header : boolean or list of string, default True
        Write out column names. If a list of string is given it is assumed
        to be aliases for the column names
    index : boolean, default True
        Write row names (index)
    index_label : string or sequence, or False, default None
        Column label for index column(s) if desired. If None is given, and
        `header` and `index` are True, then the index names are used. A
        sequence should be given if the DataFrame uses MultiIndex.  If
        False do not print fields for index names. Use index_label=False
        for easier importing in R
    nanRep : None
        deprecated, use na_rep
    mode : str
        Python write mode, default 'w'
    encoding : string, optional
        A string representing the encoding to use in the output file,
        defaults to 'ascii' on Python 2 and 'utf-8' on Python 3.
    compression : string, optional
        a string representing the compression to use in the output file,
        allowed values are 'gzip', 'bz2', 'xz',
        only used when the first argument is a filename
    line_terminator : string, default '\n'
        The newline character or character sequence to use in the output
        file
    quoting : optional constant from csv module
        defaults to csv.QUOTE_MINIMAL
    quotechar : string (length 1), default '"'
        character used to quote fields
    doublequote : boolean, default True
        Control quoting of `quotechar` inside a field
    escapechar : string (length 1), default None
        character used to escape `sep` and `quotechar` when appropriate
    chunksize : int or None
        rows to write at a time
    tupleize_cols : boolean, default False
        write multi_index columns as a list of tuples (if True)
        or new (expanded format) if False)
    date_format : string, default None
        Format string for datetime objects
    decimal: string, default '.'
        Character recognized as decimal separator. E.g. use ',' for
        European data

        .. versionadded:: 0.16.0